<!-- src/app/components/header/header.component.html -->
<header class="text-black p-4">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo -->
    <div class="text-2xl font-bold">
      <a routerLink="/" 
         class="hover:text-gray-300 transition-colors duration-200">
        myblog
      </a>
    </div>

    <!-- Navigation Menu -->
    <nav>
      <ul class="flex space-x-4">
        <li>
          <a routerLink="/" 
             routerLinkActive="text-blue-600"
             [routerLinkActiveOptions]="{exact: true}"
             class="hover:text-gray-300 transition-colors duration-200">
            Home
          </a>
        </li>
        <li>
          <a routerLink="/blog" 
             routerLinkActive="text-blue-600"
             class="hover:text-gray-300 transition-colors duration-200">
            Blog
          </a>
        </li>
        <li>
          <a routerLink="/about" 
             routerLinkActive="text-blue-600"
             class="hover:text-gray-300 transition-colors duration-200">
            About
          </a>
        </li>
        <li>
          <a routerLink="/contact" 
             routerLinkActive="text-blue-600"
             class="hover:text-gray-300 transition-colors duration-200">
            Contact
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>