<div class="container-fluid login-section d-flex justify-content-center align-items-center">
  <div class="card login-card shadow-lg">
      <!-- Card header -->
      <div class="card-header">
        <h3>Sign-in</h3>
      </div>


      <!-- Card body  -->
      <div class="card-body">
        <form [formGroup]="loginForm">
          <div class="col-xl-12 mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" placeholder="example@myblog.com" formControlName="email">
            <div *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched">
              Email is required
            </div>
          </div>
          <div class="col-xl-12 mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" class="form-control" id="passsword" placeholder="Myblog@123" formControlName="password">
            <div *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
              Password is required
            </div>
          </div>
        </form>
      </div>
      <!-- Card footer  -->
      <div class="card-footer">
        <a routerLink="/register">
          Clicl here to register
        </a>
        <button class="btn btn-primary float-end" (click)="submit()" [disabled]="!this.loginForm.valid">
          SignIn
        </button>
      </div>
  </div> 
</div>