.register-section{
    height: 90vh;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/images/vectorbackgroung.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.register-card{
    position: fixed;
    width:500px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.9);
}
.blur-overlay {
    position: relative;
    top: 0; 
    left: 0;
    width: 100%;   
    height: 100%;
    background-color: rgba(255, 255, 255, 0.861); /* Adjust the opacity as needed */
    backdrop-filter: blur(5px);    
}