<div class="container-fluid register-section d-flex justify-content-center align-items-center">
    <div class="card register-card shadow-lg">
        <!-- Card header -->
        <div class="card-header">
          <h3>Sign-up</h3>
        </div>
  
  
        <!-- Card body  -->
        <div class="card-body">
          <form [formGroup]="userRegForm">
            <!-- firstname -->
            <div class="col-xl-12 mb-2">
              <label for="firstName" class="form-label">First Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="First Name" formControlName="firstName">
              <div *ngIf=" userRegForm.controls['firstName'].hasError('required') && userRegForm.controls['firstName'].touched">
                First Name is required
              </div>
            </div>

            <!-- lastname -->

            <div class="col-xl-12 mb-2">
              <label for="lastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Last Name" formControlName="lastName">
              <div *ngIf="userRegForm.controls['lastName'].hasError('required') && userRegForm.controls['lastName'].touched">
                Email is required
              </div>
            </div>

            <!-- email -->

            <div class="col-xl-12 mb-2">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" placeholder="example@myblog.com" formControlName="email">
              <div *ngIf="userRegForm.controls['email'].hasError('required') && userRegForm.controls['email'].touched">
                Email is required
              </div>
            </div>

            <!-- password -->

            <div class="col-xl-12 mb-2">
              <label for="password" class="form-label">Password</label>
              <input type="text" class="form-control" id="password" placeholder="Password" formControlName="password">
              <div *ngIf="userRegForm.controls['password'].hasError('required') && userRegForm.controls['password'].touched">
                Password is required
              </div>
            </div>

            <!-- confirm password -->

            <div class="col-xl-12 mb-2">
              <label for="confirmPassword" class="form-label">Confirm Password</label>
              <input type="text" class="form-control" id="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword">
              <div *ngIf="userRegForm.controls['confirmPassword'].hasError('required') && userRegForm.controls['confirmPassword'].touched">
                Confirm Password is required
              </div>
            </div>
          </form>
        </div>
        <!-- Card footer  -->
        <div class="card-footer">
          <!-- <a routerLink="/register">
            Clicl here to register
          </a> -->
          <button class="btn btn-primary float-end" (click)="register()" [disabled]="!this.userRegForm.valid">
            SignUp
          </button>
        </div>
    </div> 
  </div>