<div class="container px-5" style="padding-top: 30px;">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ article?.title }}</h5>
          <p class="card-text">{{ article?.date }}</p>
          <!-- You mentioned there is no imageUrl property, so no image tag -->
          <p class="card-text">{{ article?.content }}</p>
          <!-- You mentioned there is no author property, so no author displayed -->
        </div>
      </div>
    </div>
  </div>
</div>
